irc:
  server: "irc.host.com"
  nick: "Porygon"
  channels: ["#channel1", "#channel2"]
  nickserv_password: ""

#twitter:
#  oauth_token: ""
#  oauth_token_secret: ""
#  consumer_key: ""
#  consumer_secret: ""
