<div class="row">
  <div class="col-md-6">
    <p>Welcome to the website of Porygon.</p>
    <p>Porygon is an IRC bot providing services to #GoNintendo and #GoingSony on IrcHighway.net</p>
    <p>Source code for the bot and this web app may be found at <%= link_to "this Github repo", "https://github.com/t27duck/porygon" %>.</p>
  </div>
  <div class="col-md-6 text-center">
    <%= image_tag "porygon-large.png" %>
    <p><em>All praise to Porygon!</em></p>
  </div>
</div>
